<%- include('./partials/header') %>

    <% if(username){ %>
        <h1> Signed In as <%= username %></h1>
    <% } else { %>
        <h1>Please sign in</h1>
    <% } %>
    

<%- include('./partials/footer') %>